footer {
  background-color: $dark;
  padding-top: 60px;
  padding-bottom: 10px;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
  }
  .address{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: $white;
    a{
      color: $secondary;
    }
  }
  #social-media {
    margin: 0;
    margin-top: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      margin-right: 0.7rem;
      a {
        width: 57px;
        height: 57px;
        line-height: 57px;
        font-size: 18px;
        border-radius: 100%;
        color: $white;
        border: 2px solid $white;
        display: inline-block;
        transition: $transition-default;
        &:hover {
          background-color: $white;
          color: $dark;
        }
      }
    }
  }
  .copy{
      color: $gray-700;
      margin-top: 60px;
  }
  .form-contact{
    input, textarea{
      background: #525252;
      border-color: #525252;
    }
    label {
      color: #8a8a8a;
    }
    .form-control:focus{
      border: 0;
      box-shadow: none;
    }
    .btn-secondary{
      color: $white;
    }
    .grecaptcha-badge{
      position: relative !important;
      margin: 0 auto;
      margin-bottom: 1rem;
      bottom: 0 !important;
      right: 0 !important;
    }
  }
}
