body {
  font-family: $poppins;
  font-weight: 300;
  line-height: 1.7222222222222;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

.bbr-0 {
  border-bottom-right-radius: 0px !important;
}

.zIndex0 {
  z-index: -1;
}

.group-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.slider_fullheight {
  min-height: calc(100vh - 56px);
  height: auto;
}

@include media-breakpoint-only(md) {
  .slider_fullheight {
    min-height: 640px;
  }
}

@include media-breakpoint-up(lg) {
  .slider_fullheight {
    min-height: 100vh;
  }
}

/* @include media-breakpoint-up(xl) {
  .slider_fullheight {
    min-height: calc(100vh - 100px);
  }
} */

.headings {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  @include media-breakpoint-only(md) {
    padding-top: 26px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }
  // & + * {
  //   margin-top: 20px;
  //   @include media-breakpoint-only(md) {
  //     margin-top: 26px;
  //   }
  //   @include media-breakpoint-up(lg) {
  //     margin-top: 50px;
  //   }
  // }
  &-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba($primary, 0.2);
    // text-sadow: 0 4px 4px rgba(0, 0, 0, 4%);
    z-index: -1;
    @include media-breakpoint-only(md) {
      font-size: 40px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 100px;
    }
    &.text-light{
      color: rgba(255,255,255, 0.4) !important;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 1.15789;
    @include media-breakpoint-only(md) {
      font-size: 30px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 38px;
    }
  }
  & + p{
    line-height: 1;
  }
}

.text-width-medium {
  max-width: 500px;
}

