#carouselHome {
    .carousel {
        &-item {
            min-height: 100vh;
            background-size: cover;
            background-position: center center;
        }
        &-caption {
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            hr {
                background-color: $secondary;
                height: 4px;
                margin-left: auto;
                margin-right: auto;
                width: 61px;
                border: none;
                opacity: 1;
            }
            & h4 {
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                margin-top: 14px;
                margin-bottom: 10px;
            }
            & h2 {
                font-size: 40px;
                line-height: 1.15455;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
                @include media-breakpoint-up(md){
                  font-size: 56px;
                }
            }
        }
        &-control-prev,
        &-control-next {
            height: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
        &-indicators [data-bs-target] {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            margin-right: 5px;
            margin-left: 5px;
            &.active {
                background-color: $secondary;
            }
        }
    }
}

.about {
    &-info {
        padding: 2rem;
        &__title {
            span {
                color: $secondary;
            }
        }
        &__text {
            margin: 1.5rem 0;
        }
    }
}

.services{
  .row > div{
    margin-bottom: 1rem;
  }
  .flip-card {
      position: relative;
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 1em;
      width: 100%;
      > .front,
      > .back {
          display: flex;
          flex-direction: column;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-duration: 0.5s;
          transition-property: transform, opacity;
          color: $black;
          // width: inherit;
          // background-size: cover!important;
          // background-position: center!important;
          height: 268px;
          padding: 1em 2em;
          background: $white;
          border-radius: 20px;
      }
      > .front {
          justify-content: flex-end;
          transform: rotateY(0deg);
      }
      > .back {
          justify-content: center;
          position: absolute;
          opacity: 0;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          transform: rotateY(-180deg);
      }
      &:hover {
          > .front {
              transform: rotateY(180deg);
          }
          > .back {
              opacity: 1;
              transform: rotateY(0deg);
          }
      }
      &__icon {
          font-size: 48px;
          flex-grow: 1;
          color: $primary;
      }
      &__title {
          font-weight: bold;
      }
      &__subtitle {
          margin: 0;
      }
      &.bg-one {
          .front,
          .back {
              color: $white;
              background-color: $primary;
          }
          .flip-card__icon{
            color: $white;
          }
      }
      &.sdw{
        .front,
        .back{
          box-shadow: 0 10px 20px -5px rgba($black, 0.2);
        }
      }
  }
}

.allied {
    background-color: $secondary;
    padding: 60px 0;
    .group-flex {
        align-items: center;
        // justify-content: center;
        a {
            transition: $transition-default;
            opacity: 0.5;
            margin: 1rem auto;
            &:hover {
                opacity: 1;
            }
        }
        @include media-breakpoint-up(md) {
            justify-content: space-evenly;
        }
    }
}

.team {
    padding: 60px 0;
    &-default {
        position: relative;
        text-align: center;
        max-width: 202px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        &-figure {
            display: block;
            overflow: hidden;
            border-radius: 14px;
            // background: $primary;
            box-shadow: 0 21px 40px -20px black;
            img {
                transition: $transition-default;
                // opacity: 0.5;
            }
        }
        &-name {
            margin-top: 14px;
            font-weight: 500;
            line-height: 1.45;
            margin-bottom: 0;
            h5 {
                margin-bottom: 0;
            }
        }
        &-status {
            margin-top: 5px;
            line-height: 1;
            font-size: 0.8rem;
        }
        &-social {
            position: absolute;
            display: inline-block;
            text-align: center;
            top: 10px;
            right: 0;
            width: 46px;
            height: 46px;
            font-size: 20px;
            line-height: 46px;
            box-shadow: 0 21px 40px -20px $dark;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(50%, -20px, 0);
            transition: $transition-default;
            .group-flex {
                flex-direction: column;
                align-items: inherit;
                a {
                    background-color: $white;
                    box-shadow: -11px 5px 14px -10px $dark;
                    border-radius: 100%;
                    margin-bottom: 5px;
                    color: $primary;
                    transition: $transition-default;
                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
        &:hover &-social {
            opacity: 1;
            visibility: visible;
            transform: translate3d(50%, 0, 0);
        }
        &:hover &-figure img {
            opacity: 1;
        }
    }
}
