.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_purple;
    transition: all 1s ease-in-out;
    overflow: hidden;
    border-radius: 0%;
    &.bye{
        top: 50%;
        transform: translateY(-50px);
        left: 50%;
        width: 0%;
        border-radius: 50%;
        min-height: 0;
    }
}
.pulse{
    animation: pulse 1.5s ease infinite
}

@keyframes pulse{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}