#mainMenu {
  position: absolute;
  width: 100%;
  z-index: 10;
  transition: $transition-base;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    /* width: calc(100vw - 60px); */
    &.navbar--is-active {
      position: fixed;
      .navbar-bg {
        padding: 0.8rem 1rem;
      }
    }
  }
  /* @include media-breakpoint-up(xl) {
        width: 1170px;
    } */
  .mainMenuContainer {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 20px;
    transition: $transition-base;
    @include media-breakpoint-up(lg) {
      padding-right: 1.5rem;
    }
    &.open {
      height: 100vh;
      align-items: baseline;
    }
  }

  .navbar {
    &-bg {
      background-color: $primary_purple;
      padding: 1rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: $transition-base;
    }
    &-nav {
      margin: 0 2rem;
      .nav-item {
        font-weight: 700;
        .nav-link {
          padding-right: 1rem;
          padding-left: 1rem;
        }
      }
    }
    &-user {
      .btn-secondary {
        color: $white;
      }
    }
  }

  .menu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    width: 35px;
    transition: $transition-default;
    &-link {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1002;
    }
    &-icon {
      position: absolute;
      width: 20px;
      height: 14px;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 1px;
      &-line {
        background-color: $secondary;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        left: 0;
        transition: all 0.25s ease-in-out;
      }
      &-line-2 {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &-line-3 {
        bottom: 0;
      }
    }
    &-circle {
      background-color: $white;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      transform: scale(1);
      z-index: 1000;
      transition: $transition-default;
    }
    &.open {
      top: 0;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      .menu-icon {
        width: 30px;
        bottom: 50%;
      }
      .menu-icon-line-1 {
        transform: translateY(7px) translateY(-50%) rotate(-45deg);
      }
      .menu-icon-line-2 {
        opacity: 0;
      }
      .menu-icon-line-3 {
        transform: translateY(-7px) translateY(50%) rotate(45deg);
      }
      .menu-circle {
        transform: scale(60);
      }
      /* .menu-icon-line {
        background-color: $primary !important;
      } */
    }
    &-overlay {
      height: auto;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      text-align: center;
      transition: opacity 0.4s ease-in-out;
      z-index: 1001;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.open {
        opacity: 1;
        visibility: visible;
        .nav-link {
          color: $secondary;
          font-size: 1.6rem;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      &-overlay {
        position: initial;
        transform: initial;
        opacity: 1;
        visibility: initial;
      }
    }
  }
}
